<!DOCTYPE html>
<html lang="en">
  <head th:replace="/fragements/head :: head"></head>

  <body>
    <div th:replace="/fragements/navbar :: navbar"></div>
	  <main>
        <div class="container-fluid row">
            <div class="col-md-3">
                <center>
                    <img 
                        th:src="${blog.getImage()}"
                        alt = "${blog.title}"
                        class="single-blog-image"
                    />
                    <address th:text="'👦 | Written By :- ' + ${blog.getAuthorId().name}">
                    </address>
                    <p th:text="' Posted On: ' + ${#dates.format(blog.getCreationDate(),'dd-MM-yyyy')}">
                    </p>
                </center>
            </div>
            <div class="col-md-9">
                <h1 th:text="${blog.getTitle()}"></h1>
                <p class="blog-content" th:text="${blog.getContent()}"></p>
            </div>
        </div>
    </main>

    <script th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>